# This file specifies files that are *not* uploaded to Google Cloud Platform
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).
#
# For more information, run:
#   $ gcloud topic gcloudignore
#
.gcloudignore
# If you would like to upload your .git directory, .gitignore file or files
# from your .gitignore file, remove the corresponding line
# below:
.git
.github/
.gitignore

# Dev directories
/data_files/
/node_modules/
/public/

# Config
.env.development
.env.development_template
.env.production_template
package*
vite.config.js
eslint.config.js

# Other
app.yaml_template
LICENSE.md
README.md

# Image
/dist/favicon.ico_*
/dist/images/TEST_*
