// Variables are imported from "_variables.scss" (via vite.config.js)


/********************/
/**  SCSS Content  **/
/********************/

body {
    // font-family: "Inter", "system-ui", "Avenir", "Helvetica", "Arial", "sans-serif";
    // font-family: "system-ui" !important;
    font-family: "Helvetica","Helvetica Neue","Arial","sans-serif" !important;
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

footer {
    @include op_dark_bg;
    min-width: 100% !important;
    a {
        // color: $op_color_1;
        color: $op_white !important;
        &:hover {
            @include link_hover_color;
        }
        > svg {
            vertical-align: top !important;
            margin-top:1px;
            font-size: 22px;
        }
    }
    .op_copyright {
        text-align:center;
        color: $op_white !important;
        svg {
            vertical-align: top !important;
            margin-top: 1px;
            margin-right: 0.5rem;
            font-size: 22px;
        }
    }
    .contacts_list {
        li:not(:first-child) {
            margin-left: 0.5rem;
        }
    }
}

h4 {
    font-size: 1.4rem !important;
}

a {
    font-weight: 500;
    // color: $op_blue_2;
    @include link_default_color;
    text-decoration: none !important;
    vertical-align: middle;
    svg, span {
        vertical-align: middle;
    }
    /* color: #222;
    border-bottom: 1px dotted #646cff; */
    &:hover {
       @include link_hover_color;
    }
}

sup {
    font-size:0.6rem !important;//10px;
}

#content {
    width:100vw;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.container-extra {
    margin-top: 4rem;
    margin-bottom: 4rem !important;
    // min-height: 100vh;
}
.container-fluid {
    padding-left: 3rem !important;
    padding-right:3rem !important;
}

#home_search_bar {
    @include op_light_bg;
    // background-color: $op_color_3;
    // color: $op_white;
    // a {
    //     color: $op_color_3 !important;
    //     &:hover {
    //         color: $op_color_5 !important;
    //     }
    // }
}

.op_stats_container {
    display:flex;
    justify-content: space-around;
    h5 {
        text-align:center;
    }
    >div:not(:last-child){
        margin-right: 0.5rem;
    }
}
.op_stats2 {
    display:flex;
    flex-direction:column;
    border:1px solid $op_grey;
    border-radius:6px;
    padding:1rem;
    .home_stats_box:last-child {
        margin-bottom: 0px !important ;
    }
    .home_stats_box {
        @include op_light_bg;
        margin-bottom: 0.75rem !important;
        display:flex;
        justify-content: space-between;
        border:none !important;
        // background-color: $op_color_3;
        // color: $op_white;
        svg {
            color: $op_color_2;
        }
        &:hover {
            @include op_dark_bg;
            color: $op_white;
            // background-color: $op_light_grey_3;
            svg {
                color: $op_white;
            }
            .home_stats_btn > a {
                background-color: $op_color_5 !important;
            }
        }
        .home_stats_title {
            width: 240px;//225px;
            text-align:left;
            padding-bottom:0px !important;
            margin-bottom:0px !important;
            border-bottom: none !important;
        }
        .home_stats_count {
            width:90px;
            text-align:right !important;
            font-size:20px !important;
            font-weight: bold;
            margin-left: 0.5rem;
            margin-right: 2rem;
        }
        .home_stats_btn {
           margin-top:0px !important;
        }
    }
    .home_stats_box_main {
        @include op_dark_bg;
        margin-bottom: 1rem !important;
        display:flex;
        justify-content: space-between;
        border:none !important;
        min-width: 150px;
        border-radius: 6px;
        padding: 0.5rem;
        text-align: center;
        color: $op_white;
        // background-color: $op_color_3;
        // color: $op_white;
        svg {
            color: $op_white;
        }
        &:hover {
            svg {
                color: $op_color_5;
            }
            .home_stats_btn > a {
                background-color: $op_color_5 !important;
                border-color: $op_color_5 !important;
            }
        }
        .home_stats_title {
            text-align:center;
            padding-bottom:0px !important;
            margin-bottom:0px !important;
            border-bottom: none !important;
            margin-left: 0.5rem;
            font-size:20px;
        }
        .home_stats_count {
            width:90px;
            text-align: right !important;
            font-size:20px !important;
            font-weight: bold;
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
        .home_stats_btn {
           margin-top:0px !important;
           a {
                border: 1px solid $op_white;
           }
        }
    }
    .home_chart_legend {
        display: flex;
        .home_chart_legend_category {
            @include op_light_bg;
            border:none !important;
            border-radius: 6px;
            padding: 0.5rem;
            svg {
                vertical-align: middle;
                color: $op_color_2;
            }
            > div:first-child > span {
                vertical-align: middle;
            }
            a {
                vertical-align: middle;
            }
        }
        .home_chart_legend_category:not(:last-child){
            margin-bottom:1rem;
        }
        .home_dist {
            @include op_light_bg;
            padding:0px;
            border-radius: 6px;
            &:not(:last-child){
                margin-right: 0.5rem;
            }
        }
    }
}

// Test
// .op_stats_test {
//     display:flex;
//     justify-content: space-between;
//     border:1px solid $op_grey;
//     border-radius:6px;
//     padding:1rem;
//     .home_stats_box:last-child {
//         margin-bottom: 0px !important ;
//     }
//     .home_stats_box {
//         @include op_light_bg;
//         margin-bottom: 1rem !important;
//         display:flex;
//         justify-content: space-between;
//         border:none !important;
//         // background-color: $op_color_3;
//         // color: $op_white;
//         svg {
//             color: $op_color_2;
//         }
//         &:hover {
//             @include op_dark_bg;
//             color: $op_white;
//             // background-color: $op_light_grey_3;
//             svg {
//                 color: $op_white;
//             }
//             .home_stats_btn > a {
//                 background-color: $op_color_5 !important;
//             }
//         }
//         .home_stats_title {
//             width: 240px;//225px;
//             text-align:left;
//             padding-bottom:0px !important;
//             margin-bottom:0px !important;
//             border-bottom: none !important;
//         }
//         .home_stats_count {
//             width:90px;
//             text-align:right !important;
//             font-size:20px !important;
//             font-weight: bold;
//             margin-left: 0.5rem;
//             margin-right: 2rem;
//         }
//         .home_stats_btn {
//            margin-top:0px !important;
//         }
//     }
//     .home_stats_box_main {
//         @include op_dark_bg;
//         // margin-bottom: 1rem !important;
//         display:flex;
//         flex-direction: column;
//         justify-content: space-between;
//         border:none !important;
//         min-width: 150px;
//         border-radius: 6px;
//         padding: 1rem; //0.5rem;
//         text-align: center;
//         color: $op_white;
//         margin-right: 1rem;
//         // background-color: $op_color_3;
//         // color: $op_white;
//         &:hover {
//             .home_stats_btn > a {
//                 background-color: $op_color_5 !important;
//                 border-color: $op_color_5 !important;
//             }
//         }
//         .home_stats_title {
//             text-align:center;
//             font-size:20px;
//             margin-bottom: 1rem;
//         }
//         .home_stats_count {
//             text-align: center !important;
//             font-size:20px !important;
//             font-weight: bold;
//             margin-bottom: 1rem;
//         }
//         .home_stats_btn {
//            margin-top:0px !important;
//            a {
//                 border: 1px solid $op_white;
//            }
//         }
//     }
//     .home_chart_legend {
//         .home_chart_legend_category {
//             @include op_light_bg;
//             border:none !important;
//             border-radius: 6px;
//             padding: 0.5rem;
//             svg {
//                 vertical-align: middle;
//                 color: $op_color_2;
//             }
//             > div:first-child > span {
//                 vertical-align: middle;
//             }
//             a {
//                 vertical-align: middle;
//             }
//         }
//         .home_chart_legend_category:not(:last-child){
//             margin-bottom:1rem;
//         }
//         .home_dist {
//             @include op_light_bg;
//             padding:0px;
//             border-radius: 6px;
//             &:not(:last-child){
//                 margin-right: 0.5rem;
//             }
//         }
//     }
// }
// .op_stats_separator {
//     border-left:1px solid $op_grey;
// }

// .op_stats_dist {
//     // border:1px solid $op_grey;
//     // border-radius:6px;
//     // padding:1rem 1rem 1rem 0rem;
//     // > div:last-child {
//     //     border-left: 1px solid $op_grey;
//     //     padding-left: 1rem;
//     // }
// }


.home_stats_box {
    min-width: 150px;
    border:1px solid $op_grey;
    border-radius:6px;
    // padding:0.5rem 1rem 1rem;
    padding: 0.5rem;
    text-align:center;
    > div {
        text-align:center;
    }
    .home_stats_title {
        font-size:20px;
        border-bottom:1px solid $hl_color;
        padding-bottom:0.5rem;
        margin-bottom: 0.5rem;
        svg {
            margin-top: 4px;
            vertical-align: top;
        }
    }
    .home_stats_count {
        font-size:24px;
    }
    .home_stats_btn {
        margin-top:1rem;
    }
}

// .home_header {
//     position: relative;
//     z-index: 1;
//     // background-color: #ebf5fb;
//     @include op_light_bg; //rgb(248, 249, 250);
//     max-height: 765px;
//     .home_header_search {
//         margin-top:10px;
//         padding:1rem;
//         // background-color: white;
//         z-index: 4;
//         .search_input {
//             width: 100%;
//             border: 2px solid $op_blue_2;
//             box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
//         }
//         button {
//             border: 2px solid $op_white;
//             box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
//         }
//     }
//     .home_header_left {
//         // background-color: white;
//         z-index: 3;
//         // > div {
//         > div > div:first-child {
//             padding:1rem;
//             background-color: white;
//         }
//     .home_header_right {
//         background-image: url('/src/assets/landing.jpg');
//         z-index: 2;
//         display: block;
//         margin-left: auto;
//         margin-right:0px;
//         max-width: 766px;
//         height: 765px;
//     }
//     .home_box {
//         border:1px solid $op_grey;
//         border-radius:6px;
//         padding:1rem;
//         background-color:white;
//     }
//     .home_category {
//         display:flex;
//         justify-content:space-between;
//         span {
//             font-size:24px;
//         }
//         span:first-child {
//             font-weight:200;
//             padding-right:2rem;
//         }
//         span:last-child {
//             font-weight:bold;
//         }
//         &:hover {
//             cursor: pointer;
//             span {
//                 color:$op_blue_3;
//             }
//         }
//     }
// }
.large_search_bar {
    margin-top:10px;
    padding:1rem;
    // background-color: white;
    z-index: 4;
    .search_input {
        width: 100%;
        // border: 2px solid $op_blue_2;
        border: 1px solid $op_color_2 !important;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
    button {
        border: 1px solid $op_white;
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    }
}

.search_input {
    // border: 1px solid $op_blue_2 !important;
    border: 1px solid $op_color_2 !important;
}
.search_box_2 {
    display:none;
}

.op_title {
    color: $op_color_2;
}

.page_title {
    margin: 1rem 0rem 2rem;
    font-weight: 200;
    vertical-align: middle !important;
    span {
        vertical-align: middle !important;
    }
    // > span:first-child {
    //     // background-color: #007C82;
    //     padding:2px 10px;
    //     // color:$op_white;
    //     border-top-left-radius: 20px;
    //     border-bottom-right-radius: 20px;
    //     border-top-right-radius: 4px;
    //     border-bottom-left-radius: 4px;
    // }
    > span:last-child {
        font-weight: bold;
    }
}

.page_subtitle {
    margin-bottom: 2rem;
    font-weight: 200;
    > span:last-child {
        font-weight: bold;
        padding-left:10px;
    }
}


.op_title_prefix, .op_title_separator {
    height:38px;
    font-size: 26px;
    vertical-align:top;
    margin-top:2px;
    vertical-align: middle;
}
.op_title_prefix {
    margin-right: 1rem;
}
.op_title_separator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.op_browse_title {
    height:38px;
    font-size: 24px;
    vertical-align:top;
    margin-top:3px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.external-link {
    white-space: nowrap;
    > svg:last-child {
        display: inline-block;
        font-size: 1rem;
        vertical-align: top !important;
        padding-left:6px;
    }
}

.op_link {
    @include link_default_color;
    vertical-align: middle;
    svg, span {
        vertical-align: middle;
    }
    &:hover {
       @include link_hover_color;
    }
}

.even_section, .odd_section {
    margin: 4rem 0rem 0rem;
    text-align:center;
    .op_section_title {
        font-size: 32px;
        margin-bottom: 2rem;
        svg, span {
            vertical-align: middle;
        }
    }
    .op_subsection_header {
        @include op_light_bg;
    }
}
.odd_section {
    padding: 1rem 0rem 2rem;
}
.even_section {
    padding: 1rem 2rem 2rem;
    @include op_light_bg;
}

.relative {
    position: relative;
}
.block {
    display:block;
}

.card_containter {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.cards_filter_container_cols_2, .cards_filter_container_cols_3 {
    display: flex;
    flex-direction: row;
}

.card {
    padding: 0rem;
}

.card-header {
    @include op_dark_bg;
    color: $op_white !important;
}
.card-title {
    svg, span {
        vertical-align: middle;
    }
}

.card-header-button {
    @include op_dark_bg;
    color: $op_white !important;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.card-header-expanded {
    @include op_dark_bg;
    color: $op_white !important;
    padding: 0.5rem 1rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card-header-button:hover, .card-header-expanded:hover {
    @include link_btn_hover;
    cursor: pointer;
}

.card-sub-header {
    @include op_dark_bg;
    color: $op_white !important;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    border-radius: 4px;
}


.citation_card {
    padding-left: 3rem;
    padding-right: 3rem;
}
.op_card_homepage {
    margin: 0rem 0.5rem 0.25rem;
    max-width:580px;
} 
.op_card_row {
    display: flex;
    flex-direction: row;
}

.op_card {
    padding:0px;
    max-width:1000px;
    min-width: 400px !important;
}
.op_card_left {
    padding:0px;
    min-width: 320px;
    max-width:700px;
}
.op_card_right {
    padding:0px !important;
    min-width: 320px;
    max-width:580px;
}

.op_card_container_info {
    display: flex;
    > div:nth-child(2) {
        margin-left: 4rem;
        padding:0px !important;
        max-width:580px !important;
        tr:not(:first-child) {
            td {
                border-top: 1px solid $op_grey;
            }
        }
    }
}

.op_filter_container_2, .op_filter_container_3 {
    display: flex;
    flex-direction: row;
    .compact_form:first-child {
        .op_form_label {
            margin-left: 0.5rem;
        }
        .MuiFormControl-root {
            margin-left: 0.5rem !important;
            .MuiFormControl-root {
                margin-left: 0rem !important;
            }
        }
    }
    .compact_form:last-child {
        .MuiFormControl-root {
            margin-right: 0.5rem !important;
            .MuiFormControl-root {
                margin-right: 0rem !important;
            }
        }
    }
    > div:not(:first-child) {
        border-left: 1px solid $op_card_border;
    }
}
.op_form_h_sep {
    margin-bottom: 0.5rem !important;
    margin-right: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    border-bottom: 1px dashed $op_card_border;
}
.op_form_v_sep {
    margin-left: 0.5rem !important;
    padding-left: 0.5rem !important;
    border-left: 1px solid $op_card_border;
}

.op_form_label {
    margin-left: 1rem;
    margin-top: 0.25rem;
    // color: $op_dark2 !important;
}

.op_icon_link {
    &:hover {
        svg {
            @include link_hover_color;
        }
    }
}

.font-bold {
    font-weight: bold;
}

h5 > .op_subtitle {
    margin-right: 0.25rem;
    height:24x;
    font-size: 18px !important;
    vertical-align:top;
    margin-top:2px;
}

ul.key_val_line {
    margin-bottom: 1.5rem;
    li:not(:last-child) {
        margin-bottom: 0.25rem;
    }
}
ul.result_content {
    margin-bottom: 0rem !important;
    li:not(:last-child) {
        margin-bottom: 0.15rem;
    }
}
.key_val_line, ul.result_content, ul.expanded {
    .line_key {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
}

ul.expanded {
    margin-bottom: 2rem;
    li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

.omics_header {
    border-radius: 4px;
}


.faq_box {
    svg {
        @include link_default_color;
    }
    &:hover {
        svg {
            @include link_hover_color;
        }
    }
}

.btn-op {
    color: $op_white !important;
    @include op_dark_bg;
    &:hover {
        @include link_btn_hover;
        .extra_icon > svg {
            @include link_hover_color;
        }
    }
    .extra_icon {
        background-color: $op_white;
        padding: 4px 3px 5px;
        border-radius: 4px;
        > svg {
            size: 0.9em;
            @include link_default_color;
        }
    }
}
// .btn-outline-op {
//     @include link_default_color;
//     background-color: $op_white !important;
//     border: 1px solid $op_color_2 !important;
//     &:hover {
//         color: $op_white !important;
//         // background-color: $op_color_3 !important;
//         background-color: $op_color_5 !important;
//         border-color: $op_color_5 !important;
//     }
// }

.btn-op-sm {
    font-size: 12px;
    padding: 0.25rem 0.5rem !important;
    border-radius: 4px;
}


.btn-search {
    color: $op_white !important;
    @include op_dark_bg;
    border: 1px solid $op_white !important;
    &:hover {
        color: $op_white !important;
        // background-color: $op_color_3 !important;
        background-color: $op_color_5 !important;
        border-color: $op_color_5 !important;
    }
}

.badge-op {
    color: $op_white !important;
    @include op_dark_bg;
}

.badge-op-table {
    font-size:12px !important;
}

.badge-op-sm {
    color: $op_white !important;
    font-size:14px !important;
    @include op_dark_bg;
}

.badge-sq-op {
    color: $op_white !important;
    @include op_dark_bg;
    border-radius: 4px !important;
    &:hover {
        @include link_btn_hover;
        .extra_icon > svg {
            @include link_hover_color;
        }
    }
}

.badge-sq-op-sm {
    font-size:12px !important;
    // border:1px solid $op_dark !important;
    border:1px solid $op_grey !important;
    vertical-align: middle !important;
}

.badge-tissue {
    @include link_default_color;
    background-color: $ti_color !important;
    color: $op_white !important;
    &:hover {
        @include link_btn_hover;
    }

}

.op_tooltip, .op_tooltip_2 {
    border-bottom: 1px dotted $op_color_2;
    &:hover {
        border-bottom: 1px dotted $op_color_5;
    }
}
.op_tooltip:hover {
    cursor: help;
}
.op_tooltip_2:hover, .op_tooltip_icon:hover {
    cursor: pointer;
}

.separator_1 {
   @include op_separator_1;
}



/* MUI overwriting */
.MuiDataGrid-toolbar {
    background-color: $op_color_3;
    padding: 4px !important;
    min-height: 42px !important; // 52px
    button {
        color: $op_white;
    }
}

.MuiDivider-vertical {
    border-color: $op_grey !important;
}

.MuiDataGrid-columnHeadersInner {
    background-color: $op_light_grey_3;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold !important;
}

.MuiBox-root {
    flex: 0 0 2% !important;
}

.MuiFormControl-root {
    margin: 1rem !important;
    .MuiCheckbox-root {
        padding: 4px 9px !important;
    }
}
.compact_form {
    .MuiFormControl-root {
        margin: 0.5rem 1rem !important;
        .MuiFormControl-root {
            margin: 0rem !important;
        }
    }
    .op_radio_button {
        margin: 0.25rem 1rem 0.5rem !important;
        .MuiRadio-root {
            padding:7px;
        }
    }
}
.no_mt {
    .MuiFormControl-root {
        margin-top: 0rem !important;
    }
}
.MuiFormControlLabel-root:hover {
    background-color: rgba(25, 118, 210, 0.04);
}

.MuiDataGrid-root .MuiInputBase-root {
    background-color: #FAFAFA !important;
    padding-left: 4px;
}

.MuiTablePagination-toolbar p {
    margin-bottom: 0px;
}

.MuiFormLabel-root {
    font-weight: bold !important;
}
.MuiDataGrid-cell {
    display: block !important;
    padding: 12px !important;
}

.Mui-expanded {
    margin-bottom: 3rem !important;
    min-height: 0px !important;
}
.MuiPaper-root {
    .Mui-expanded {
        min-height: 25px !important;
        margin-bottom: 1rem !important;
    }
}
.MuiPaper-root > .Mui-expanded {
    background-color: $op_light_grey;
}
.MuiAccordionSummary-root:hover {
    background-color: $op_hover_grey;
}
button.MuiButton-root:hover {
    @include link_hover_color;
}
.MuiInput-root:hover::before {
    border-color: $op_color_5 !important;
}
.MuiAccordionDetails-root > .table_container {
    width:94vw;
}

.training_row {
    background-color:rgba(25, 118, 210, 0.2);
    // background-color:rgba(25, 118, 210, 0.08) !important;
    &:hover {
        background-color:rgba(25, 118, 210, 0.1) !important;
    }
}

/* MUI tree overwritting */
.MuiSimpleTreeView-root {
    > li:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    > li {
        background-color: $op_light_grey;
        text-wrap: wrap !important;
        border-radius: 6px;
        > div {
            background-color: #edf4fb !important;
            &:hover {
               background-color: #e3effa !important;
            }
        }
    }
}

.Mui-expanded {
    margin-bottom: 0px !important;
}

.lower_tree_item {
    span {
        font-weight: bold !important;
    }
}


/* Images */
.op_big_icons {
    max-height: 70px !important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.img-cohort {
    max-width:150px;
    max-height:150px;
    border: 1px solid $op_grey;
    border-radius: 6px;
}

/* Charts */
.op_barchart {
    max-width:800px;
    min-height:250px;
    background-color: $op_white !important;
}
.op_plot {
    max-width:1000px;
    max-height:500px;
    background-color: $op_white !important;
}

.op_chart_tooltip {
    span {
        vertical-align: middle;
    }
    .tooltip_extra {
        border-bottom:1px solid #FFF;
    }
    .tooltip_data {
        text-align: center;
        padding: 0.5rem 0.25rem;
    }
    ul {
        padding-left: 1.5rem;
        margin-top: 0.25rem;
        margin-bottom: 0.25rem;
        font-size: 12px;
    }
    > div {
        text-align: center;
    }
    div:first-child {
        font-weight: bold;
        border-bottom:1px solid #FFF;
        padding-bottom: 0.25rem;
        margin-bottom: 0.25rem;
    }
    div:last-child {
        border-top:1px solid #FFF;
        padding-top: 0.25rem;
        margin-top: 0.25rem;
    }
}

/* Code highlighting */
.highlight {
    background-color: $op_dark2;
    padding: 1rem;
    border-radius: 6px;
    color: $op_white;
    pre {
        margin-bottom: 0px !important;
    }
    .shell_cmd {
        color: #84D5F6; //blue;
    }
    .shell_var {
        color: #BD93E2; //purple;
    }
    .shell_varname {
        color: #DC686B; //red;
    }
}

.highlight2 {
    background-color: $op_white;
    color: $op_dark2 !important;
    padding: 1rem;
    border-radius: 6px;
    color: $op_white;
    pre {
        overflow-x: auto !important;
        margin-bottom: 0px !important;
        code {
            word-break: break-all;
        }
    }
}

.highlight_section {
    @include op_light_bg;
}

/* Bootstrap overwrite */
.navbar {
    background-color: $op_color_2;
    // color: $op_white !important;
    .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .navbar-nav {
        >a , .nav-item>a {
            color: $op_white !important;
            white-space: nowrap;
            &:hover {
                @include link_hover_color;
            }
        }
    }
    .dropdown-menu {
        a {
            &:hover  {
                color: $op_white !important;
                @include op_dark_bg;
            }
            &:active {
                @include link_hover_color;
                @include op_dark_bg;
            }
        }
    }
}
a.navbar-brand {
    @include link_hover_color;
    padding: 0px;
    &:hover {
        color: $op_white !important;
    }
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.btn-primary:hover {
    color: $op_white !important;
}
.table_card > tbody > tr > td {
    padding: 4px;
    &:first-child {
        white-space: nowrap;
    }
}
.navbar-toggler {
    border-color: $op_white !important;
    &:hover {
        border-color: $op_color_5 !important;
    }
    &:active {
        outline: none !important;
        box-shadow: none !important;
    }
    &:focus {
        outline: none !important;
        box-shadow: none !important;
    }
}
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown-menu {
    margin-top: 0px !important;
}
.spinner-border {
    color: $op_color_2 !important;
}



/* Tables */
.table {
    tr:hover {
        td {
            background-color: $op_hover_grey;
        }
    }
    border: 1px solid $op_table_border;
}
.table-responsive {
    width: 100%;
    flex-basis: fit-content !important;
    min-width: 750px;
    min-height: 200px;
}

.table_card {
    td {
        padding:3px 0px;
        vertical-align: top;
    }
    td:first-child {
        font-weight: bold;
        &:after {
            content: ':';
            margin-right: 0.5rem;
        }
    }
    .op_sub_list {
        font-weight: normal !important;
        background-color: $op_light_grey;
        text-wrap: wrap !important;
        border-radius: 6px;
        padding-right: 6px;
    }
    .op_sub_list, .op_sub_tree {
        &:after {
            content: '' !important;
            margin-right: 0rem !important;
        }
    }
    .op_header_info_no_col {
        font-weight: normal !important;
        &:after {
            content: '' !important;
            margin-right: 0rem !important;
        }
    }
}

.table_op {
    border: 1px solid; // Use default border color from Bootstrap
    thead > tr > th {
        background-color: $op_color_3;
        color: $op_white;
        padding: 8px 10px;
    }
    thead > tr > td:first-child {
        font-weight: bold;
    }
    thead > tr > td {
        padding: 8px 10px;
    }
}
.table_doc {
    width: auto !important;
    thead > tr > th {
        background-color: $op_color_2;
        color: $op_white;
    }
}

.border_left_mark {
    border-left: 6px solid;
    padding: 0rem 0rem 0rem 0.5rem;
}
.left_mark {
    padding: 2px 0.25rem;
    margin-right: 0.5rem;
}

.training_col {
    // color: $op_color_3;
    font-weight: bold;
}
.col_border_left {
    border-left: 1px solid;
}
.col_border_right {
    border-right: 1px solid;
}
ul.example_list {
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
.op_col_header {
    padding-top: 1px;
}


/* Button */
.op_toggle {
    // display: block !important;
    display: inline-block !important;
    white-space: nowrap;
    line-height: 24px;
    height: 24px;
    // border-bottom: 1px dotted $op_blue_2;
    border-bottom: 1px dotted $op_color_2;
    svg {
        @include link_default_color;
        vertical-align: top;
        margin-top:4px;
    }
    &:hover {
       @include link_default_color;
        border-bottom: 1px dotted $op_color_5;
        cursor: pointer;
        svg {
            @include link_hover_color;
        }
    }
}
.op_toggle_btn {
    display: inline-block !important;
    overflow: hidden;
    font-weight: normal !important;
    color: $default_font_color !important;
    background-color: $op_white !important;
    // border: 1px solid $op_blue_2 !important;
    svg {
        @include link_default_color;
        vertical-align: top;
        margin-top:4px;
        // &:hover {
        //     // color: $op_blue_3 !important;
        //     color: $op_color_5 !important;
        // }
    }
    &:hover {
        @include link_hover_color;
        cursor: pointer;
        // svg {
        //     color: $op_color_5 !important;
        // }
    }
}
.op_toggle_btn_blue {
    display: inline-block !important;
    overflow: hidden;
    // border: 1px solid $op_blue_2 !important;
    svg {
        color: $op_white !important;
        vertical-align: top;
        margin-top:4px;
        &:hover {
            color: $op_white !important;
        }
    }
    &:hover {
        color: $op_white !important;
        cursor: pointer;
    }
}
.op_toggle_header {
    // display: inline-block !important;
    display: flex;
    white-space: nowrap;
    // line-height: 24px;
    // height: 24px;
    margin-bottom: 0.5rem;
    svg {
        @include link_default_color;
        vertical-align: top;
        margin-top:5px;
        margin-left: 0.5rem !important;
    }
    &:hover {
       @include link_default_color;
        cursor: pointer;
        svg {
            @include link_hover_color;
        }
    }
}

.op_dwnld_container {
    > div:not(:last-child) {
        margin-bottom: 0.5rem;
        border-radius: 10px !important;
    }
    div > a {
        display:flex;
        height: 34px!important;
        line-height: 34px!important;
        div {
            padding: 0rem 0.5rem;
            display: inline-block !important;
        }
        div:first-child {
            width: 34px;
            border-top-left-radius: 4px !important;
            border-bottom-left-radius: 4px !important;
            background-color: $op_color_2;
            svg {
                color: $op_white;
            }
        }
        div:last-child {
            width: 100%;
            border-top-right-radius: 4px !important;
            border-bottom-right-radius: 4px !important;
            color: $op_black !important;
            background-color: $op_hover_grey;
            font-weight: 400;
        }
        &:hover {
            div:last-child {
                background-color: $op_color_5;
                color: $op_white !important;
            }
        }
    }
}


.op_toggle_text {
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    @include link_default_color;
    text-decoration: none !important;
    &:hover {
        @include link_hover_color;
    }
}

.op_search_card {
    span {
        vertical-align:middle;
    }
    div {
        display:inline-block;
        vertical-align:middle;
    }
    svg {
        margin-top: -4px;
        vertical-align: middle;
        // filter: drop-shadow( 1px 1px 1px rgba(0, 0, 0, .3));
    }
}

.op_search_card_content {
    display: flex;
    flex-direction: row;
    > div:not(:first-child) {
        border-left: 1px solid $op_grey !important;
        padding-left: 1rem;
        margin-left: 1rem;
    }
    .search_separator_1 {
       @include op_separator_1;
    }
    .search_separator_2 {
        margin: 0px 0.5rem;
        color: $op_grey;
    }
}

fieldset {
    .op_search_feature_legend:not(:first-child) {
        margin-top:0.25rem;
    }
}

.op_search_feature_legend {
    // height: 24px;
    // line-height: 24px;
    display: flex;
    span {
        display:inline-block;
        vertical-align:top;
    }
    .op_legend_label {
        white-space: nowrap;
        &:first-letter {
            text-transform: uppercase;
        }
    }
    .element_icon {
        margin-top: 4px !important;
    }
}


/* Search */
.search_result_container {
    display: flex;
    .search_selection_panel {
        display: flex;
        flex-direction: column;
        background-color: $op_light_grey;
        padding: 1rem 1rem 0.5rem;
        margin-right: 3rem;
        min-width: 275px;
        fieldset {
            label {
                margin-right: 0px !important;
            }
            legend {
                margin-top: 0.75rem;
            }
        }
        fieldset:first-child {
            margin-top: 0.5rem !important;
        }
        fieldset:last-child {
            margin-bottom: 0.5rem !important;
        }
        .search_section_header {
            font-weight: bold !important;
            margin-left: 1rem;
            margin-bottom: 0px;
        }
        .search_selection_container {
            display: flex;
            flex-direction: column;
            fieldset {
                min-width: 200px !important;
            }
        }
        .search_result_types {
            fieldset {
                margin: 1rem;
                legend {
                    margin-bottom: 1rem;
                }
                .op_search_result_legend {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
    }
}
.advanced_search_btn_container {
    display: inline-block;
    font-size: 16px;
    font-weight: normal !important;
    margin-top: 5px !important;
    >span:first-child {
        border-left: 1px solid $op_grey;
        border-right: 1px solid $op_grey;
        margin: 0rem 1rem;
        padding: 0rem 1rem;
    }
}
.advanced_search_container {
    margin-bottom: 1rem;
    min-width: 275px;
    background-color: $op_light_grey;
    border: 1px solid $op_color_2;
    legend {
        color: $default_font_color;
    }
}


/* Other */
.platform_accordion {
    vertical-align: middle;
    > div {
        display:inline-block !important;
        width:200px !important;
        vertical-align: middle;
    }
}

.spinner-container {
    display: flex;
    justify-content: center !important;
    margin: 5rem 1rem;
    .spinner-label {
        >span {
            vertical-align: middle !important;
        }
    }
}

.note_container {
    @include note_container;
    > div:first-child {
        margin-bottom: 0.5rem;
    }
}
.note_container_compact {
    @include note_container;
    padding: 0.5rem !important;
    > div {
        display: inline-block;
    }
    > div:first-child {
        padding-right: 0.5rem;
        &::after {
            content: ':'
        }
    }
}
.note_warning_container {
    border-left: 4px solid $op_amber;
    background-color: $op_light_grey;
    padding: 0.5rem 1rem;
    svg {
        color: $op_amber;
        font-size: 18px;
        margin-right: 0.5rem;
        vertical-align: middle !important;
    }
}

.element_icon {
    font-size: 1em;
    vertical-align: middle;
    margin-right: 0.5rem;
    margin-top:-2px;
}
.element_icon_close {
    font-size: 1em;
    vertical-align: middle;
    margin-top:-2px;
}

.mt_minus_1 {
    margin-top:-1rem !important;
}
.mt_minus_1px {
    margin-top:-1px !important;
}


/* Colour classes */
.op_color_1 {
    color: $op_color_1 !important;
}
.op_color_2 {
    color: $op_color_2 !important;
}
.op_color_default_font {
    color: $default_font_color !important;
}

.hl_color {
    color: $hl_color;
}
.color_hl {
    color: $hl_color !important;
}

.color_white {
    color: $op_white !important;
}

.hl_bb {
    border-bottom: 1px solid $hl_color;
}

.hl_grey_box {
    background-color: $op_light_grey;
    border: 1px solid $op_grey;
}

.amber_color {
    color: $op_amber;
}

.grey_color {
    color: $op_grey;
}

.bg_white {
    background-color: $op_white !important;
}

.ge_color {
    color: $ge_color;
}
.tr_color {
    color: $tr_color;
}
.pr_color {
    color: $pr_color;
}
.me_color {
    color: $me_color;
}

.ge_color_bg {
    background-color: $ge_color;
}
.tr_color_bg {
    background-color: $tr_color;
}
.pr_color_bg {
    background-color: $pr_color;
}
.me_color_bg {
    background-color: $me_color;
}


@media screen and (min-width: 992px) and (max-width: 1200px) {
    .home_chart_legend {
        flex-direction:column;
        justify-content: center;
        .home_dist {
            margin-bottom: 1rem;
            margin-right: 0rem !important;
        }
    }
}

@media screen and (max-width: 1170px) {
    .platform_accordion {
        > div {
            width:175px !important;
        }
    }
    .even_section {
        padding: 0rem 1rem 2rem;
    }
    .citation_card {
        padding-left: 0rem;
        padding-right: 0rem;
    }
}


@media screen and (max-width: 991px) {
    .container-extra {
        margin-top: 165px;
    }
    #nav_search_bar, #home_search_bar {
        display:none;
    }
    .search_box_2 {
        width:auto;
        display:flex !important;
        justify-content: center;
        .large_search_bar {
            margin-top: 0px !important;
            width: 80%;
        }
    }
    .op_summary_row {
        flex-direction: column !important;
        > div:last-child {
            margin-top: 1rem;
        }
    }
    .op_card_container_info {
        > div {
            flex-direction: column;
        }
        .card-deck {
            justify-content: flex-start !important;
        }
    }
    .op_card_row {
        flex-direction: column;
    }
    .cards_filter_container_cols_3 {
        display: block;
        > div {
            display: inline-block;
        }
        > div:not(:first-child) {
            margin-top: 1rem;
        }
    }
}

@media screen and (min-width: 701px) and (max-width: 950px){
    .home_stats_box {
        min-width: auto !important;
        // .home_stats_title {
        //     font-size: 18px !important;
        // }
        // .home_stats_count {
        //     font-size: 22px !important;
        // }
    }
}

@media screen and (max-width: 766px) {
    .navbar > .container {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
    .container-fluid {
        padding-left: 0.5rem !important;
        padding-right:0.5rem !important;
    }
    .search_selection_panel {
        min-width: auto !important;
        padding: 0rem !important;
        margin-right: 1rem !important;
        fieldset {
            margin-left:1rem !important;
            margin-right:1rem !important;
        }
        .search_section_header {
            margin-top:0.5rem !important;
            margin-left:1rem !important;
        }
    }
    .search_query_title {
        display: block;
        border: none;
        padding-right: 0rem;
        margin: 0.5rem 0rem;
        > svg {
            margin-left: 0px;
        }
    }
    .table-responsive {
        min-width: auto !important;
    }

    .op_stats_container {
        flex-direction:column;
        justify-content: center;
        > div {
            margin-bottom: 1rem;
        }
    }
    .op_card_homepage {
        margin-left:auto;
        margin-right:auto;
        &:not(:last-child){
            margin-bottom: 1rem !important;
        }
        &:last-child{
            margin-bottom: 0rem !important;
        }
    }
    .advanced_search_btn_container {
        display: block;
        // margin-left:0px;
        // padding-left: 0px;
        margin-top: 0.5rem;
         >span:first-child {
            border-left: none;
            margin-left: 0rem;
            padding-left: 0rem;
        }
    }
    .advanced_search_container {
        margin-top: 0.5rem;
    }
}


@media screen and (max-width: 720px) {
    .op_stats {
        flex-direction:column;
        justify-content: center;
        .home_stats_box {
            margin-bottom: 1rem !important;
            display:flex;
            justify-content: space-between;
            .home_stats_title {
                width:200px;
                text-align:left;
                padding-bottom:0px !important;
                margin-bottom:0px !important;
                border-bottom: none !important;
            }
            .home_stats_count {
                width:70px;
                text-align:right;
                font-size:20px !important;
                font-weight: bold;
            }
            .home_stats_btn {
               margin-top:0px !important;
            }
        }
    }
    .home_chart_legend {
        flex-direction:column;
        justify-content: center;
        .home_dist {
            margin-bottom: 1rem;
            margin-right: 0rem !important;
        }
    }
    .search_result_container {
        flex-direction: column;
        .search_selection_panel {
            margin-bottom: 1rem;
            margin-right: 0rem !important;
            fieldset {
                margin-top: 0.5rem !important;
                margin-bottom: 0.5rem !important;
                // label > span:first-child {
                //     padding-top: 0.25rem !important;
                //     padding-bottom: 0.25rem !important;
                // }
            }
            fieldset:not(:last-child) {
                margin-right: 0rem !important;
            }
            .search_selection_container {
                flex-direction: row;
                justify-content: space-between;
            }
            hr {
                margin: 0.25rem 0rem;
            }
            .search_result_types {
                fieldset {
                    legend {
                        margin-bottom: 0.5rem;
                    }
                    .op_search_result_legend {
                        flex-direction: row;
                        justify-content: space-between;
                        flex-wrap: wrap !important;
                        .op_search_feature_legend {
                            height: auto;
                            line-height: auto;
                            // min-width: 120px !important;
                            background-color: $op_light_grey_3;
                            border-radius: 6px;
                            border: 1px solid $op_table_border;
                            padding: 0.25rem;
                            margin-top: 0rem !important;
                            margin-bottom: 0.25rem !important;
                            &:not(:last-child) {
                                margin-right: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .cards_filter_container_cols_2 {
        display: block;
        > div {
            display: inline-block;
        }
        > div:not(:first-child) {
            margin-top: 1rem;
        }
    }
    .op_filter_container_3 {
        flex-direction: column;
        > div:not(:first-child) {
            border-left: none;
            margin-top: 0.5rem !important;
            .MuiFormControl-root {
                margin-left: 0.5rem !important;
                .MuiFormControl-root {
                    margin-left: 0rem !important;
                }
            }
        }
        .op_form_label {
            margin-left: 0.5rem;
        }
    }
}

@media screen and (max-width: 499px) {
    .search_box_2 {
        .large_search_bar {
            width: 90%;
        }
    }
    .op_card {
        min-width: auto !important;
    }
    .op_examples {
        font-size: 14px;
    }
    .home_stats_box {
        .home_stats_title {
            vertical-align: middle;
            font-size: 16px !important;
            svg {
                width: 16px !important;
                height: 16px !important;
                margin-top: 4px !important;
            }
        }
        .home_stats_count {
            font-size: 20px !important;
        }
    }
    .op_stats_dist {
        flex-direction: column;
        > div:first-child {
            padding-left: 1rem;
            width:auto !important;
            display: flex;
            justify-content: center;
            margin-bottom: 0.5rem;
        }
        > div:last-child {
            border-left: none !important;
            padding-left: 2rem !important;
            padding-right: 1rem !important;
        }
    }
    .contacts_list {
        flex-direction: column;
        text-align: right;
        li {
            margin-left: 0rem !important;
        }
        li:not(:first-child) {
            margin-top: 0.25rem;
        }
    }
    .search_selection_panel {
        .search_section_header {
            padding-top: 0.25rem;
            margin-left: 0.25rem !important;
        }
        fieldset {
            min-width: 155px;
            margin-left: 0.25rem !important;
            margin-right: 0.25rem !important;
            label > span:first-child {
                padding-top: 0.25rem !important;
                padding-bottom: 0.25rem !important;
            }
            legend {
                margin-top: 0.25rem !important;
            }
            .op_search_feature_legend, .MuiTypography-root {
                font-size: 14px !important;
            }
        }
    }
    .op_search_card_content {
        flex-direction: column;
        > div:not(:first-child) {
            border-left: none !important;
            padding-left: 0rem;
            margin-left: 0rem;
            border-top: 1px solid $op_grey !important;
            padding-top: 0.5rem;
            margin-top: 0.5rem;

        }
    }
    .op_filter_container_2 {
        flex-direction: column;
        > div:not(:first-child) {
            border-left: none;
            margin-top: 0.5rem !important;
        }
    }
}